<app-navbar></app-navbar>

<!-- TABLES GRID -->

<div class="container container-grid">
  <h1 class="title">Restaurant Tables</h1>

  <div class="row">

    <div class="col-md-3" *ngFor="let i of cols_number">
      <div *ngFor="let table of tables; let j = index">
        <div *ngIf="j % cols_number.length === i">
          <div class="table table-occupied" *ngIf="table.occupied">
            <p>Table {{table.number}}</p>
          </div>
          <div class="table table-free" *ngIf="!table.occupied">
            <p>Table {{table.number}}</p>
          </div>
      </div>
      </div>
    </div>

  </div>

</div>