<app-navbar></app-navbar>

<div class="container text-center">

    <div *ngIf="user">
        <h1 class="title text-center">{{user?.username}} statistics</h1>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data stats-icon" viewBox="0 0 16 16">
            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>

        <h5>Name and Surname:</h5><p>{{user?.name}} {{user?.surname}}</p>
        <h5>Role:</h5><p>{{user?.role}}</p>
        <h5>Number of Services:</h5><p>{{user_statistic?.num_services}}</p>
        <h5>Number of Orders:</h5><p>{{user_statistic?.num_orders}}</p>

        <div [ngSwitch]="user?.role">
            <span *ngSwitchCase="'cashier'">
                <h5>Tables_closed:</h5>
                <ul class="list-unstyled" *ngIf="user_statistic?.tables_closed.length > 0">
                    <div *ngFor="let table_tern of user_statistic?.tables_closed">
                        <li>Table number {{table_tern[0]}} x{{table_tern[1]}}, Total amount: {{table_tern[2]}}€</li>
                    </div>
                </ul>
                <h5 *ngIf="user_statistic?.tables_closed.length === 0">0</h5>
            </span> 
            <span *ngSwitchCase="'waiter'">
                <h5>Tables opened:</h5>
                <ul class="list-unstyled" *ngIf="user_statistic?.tables_opened.length > 0">
                    <div *ngFor="let table_pair of user_statistic?.tables_opened">
                        <li>Table number {{table_pair[0]}} x{{table_pair[1]}}</li>
                    </div>
                </ul>
                <h5 *ngIf="user_statistic?.tables_opened.length === 0">0</h5>
            </span> 
            <span *ngSwitchDefault>
                <h5>Dishes prepared:</h5>
                <ul class="list-unstyled" *ngIf="user_statistic?.dishes_prepared.length > 0">
                    <div *ngFor="let dish_pair of user_statistic?.dishes_prepared">
                        <li>{{dish_pair[0]}} x{{dish_pair[1]}}</li>
                    </div>
                </ul>
                <h5 *ngIf="user_statistic?.dishes_prepared.length === 0">0</h5>
            </span>
        </div>
    </div>

    <div *ngIf="!user">
        <h1 class="title text-center">Statistics</h1>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data stats-icon" viewBox="0 0 16 16">
            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>

        <h5>Number of staff members:</h5><p>{{statistics.length}}</p>
        <h5>Total revenue:</h5><p>{{compute_revenue()}}€</p>
        <h5>Number of tables served:</h5><p>{{compute_tables_served()}}</p>
        <h5>Number of orders made:</h5><p>{{compute_orders_made()}}</p>
    </div>

</div>