<app-navbar></app-navbar>

<div class="container">
    <h1 class="title text-center">Table {{get_parameter()}} Orders History</h1>

    <ul class="list-group">
        <div class="list-group-item list-group-item-action" *ngFor="let order of orders">
            
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{order.time | date: 'shortTime'}}</h5>
                <small>{{order.creator_username}}</small>
            </div>
            
            <ul>
                <div *ngFor="let dish_pair of order.dishes">
                    <li>
                        <p class="mb-1">{{dish_pair[0].name}} x{{dish_pair[1]}}</p>
                    </li>
                </div>
            </ul>
            
        </div>
    </ul>

    <div class="bottom-area">
        <h5>People: {{table_seats}}</h5>
    </div>

    <div class="col text-center">
        <button type="submit" class="btn btn-primary btn-lg bottom-button" (click)="new_order()">Order</button>
        <button type="submit" class="btn btn-success btn-lg bottom-button" data-bs-toggle="modal" data-bs-target="#payout" (click)="get_price()">Payout</button>
    </div>

    <!-- Modal Delete User -->
    <div class="modal fade" id="payout" tabindex="-1" aria-labelledby="payout" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to pay {{total_price}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="free_table()">Pay</button>
                </div>
            </form>
        </div>
        </div>
    </div>

</div>