<div class="container" style="width: 400px; margin-top: 20px;" >
  <div class="form-signin text-center loginform ">
    <i class="fas fa-envelope loginlogo"></i>

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" #usernametxt id="inputUsername" class="form-control" placeholder="Username" required autofocus>

    <br>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" #passwdtxt id="inputPassword" class="form-control" placeholder="Password" required>
    
    <br>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" #checkr value="remember-me"> Remember me
      </label>
    </div>
    
    <div *ngIf="errmessage" class="alert alert-danger" role="alert">
      Login error: {{errmessage}}
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" (click)="login(usernametxt.value, passwdtxt.value, checkr.checked);" >Sign in</button>
    
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2023</p>
  </div>
</div>