<app-navbar></app-navbar>

<div class="container list">
    <h1 class="title text-center" *ngIf="!table">Menu</h1>
    <h1 class="title text-center" *ngIf="table">New Order</h1>

    <div *ngFor="let type of ['food', 'drink']">
      <div *ngIf="get_role() === 'cashier' || get_role() === 'waiter' || (get_role() === 'cook' && type === 'food') || (get_role() === 'bartender' && type === 'drink')">

        <h5 class="type-title" *ngIf="type === 'food'">Food:</h5>
        <h5 class="type-title" *ngIf="type === 'drink'">Drinks:</h5>

        <ul class="list-group">
            
            <div *ngFor="let dish_pair of menu">

                <div class="list-group-item list-group-item-action" *ngIf="dish_pair[0].type === type">
                
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{dish_pair[0].name}}</h5>
                        
                        <small *ngIf="!table">{{dish_pair[0].price}}€</small>
                        <small *ngIf="table">Amount: {{dish_pair[1]}}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">Ingredients: {{ingredients_to_string(dish_pair[0])}}</p>
                    
                    <span class="bi bi-trash right-icon" data-bs-toggle="modal" data-bs-target="#confirmationModal" *ngIf="!table && get_role() === 'cashier'" (click)="set_curr_dish(dish_pair[0].name)"></span>
                    <div class="right-icon" *ngIf="table">
                      <i class="bi bi-plus-lg amount-icon" (click)="change_amount('plus', dish_pair[0].name)"></i>
                      <i class="bi bi-dash-lg amount-icon" (click)="change_amount('minus', dish_pair[0].name)"></i>
                    </div>
                    </div>

                </div>
                
            </div>
        </ul>
      </div>
    </div>

    <div class="col text-center">
        <button type="button" class="btn btn-primary btn-lg add-button" data-bs-toggle="modal" data-bs-target="#addDishModal" *ngIf="!table && get_role() === 'cashier'">Add dish</button>
        <button type="button" class="btn btn-primary btn-lg add-button" data-bs-toggle="modal" data-bs-target="#confirmationModal" *ngIf="table && get_role() === 'waiter'">Make order</button>
    </div>

    <!-- Modal Add New Dish -->
    <div class="modal fade" id="addDishModal" tabindex="-1" aria-labelledby="addDishModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new dish</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">      
                
                    <form>
                      
                      <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" #name="ngModel" required name="name" [(ngModel)]="dish.name" class="form-control" id="inputName" placeholder="Enter name">
                      </div>                

                      <div class="form-outline">
                        <label for="inputPrice">Price</label>
                        <input min="0.1" type="number" step="0.01" #price="ngModel" required name="price" [(ngModel)]="dish.price" id="inputPrice" class="form-control" placeholder="Enter price"/>
                      </div>

                      <div class="form-outline ingredients-input">
                        <label for="inputIngredients">Ingredients</label>
                        <input type="text" #ingredients="ngModel" name="ingredients" [(ngModel)]="dish.ingredients" id="inputIngredients" class="form-control" placeholder="Enter ingredients (separated by comma)"/>
                      </div>

                      <div class="form-group">
                      <label for="inputType">Type</label>
                      <select #type="ngModel" name="type" [(ngModel)]="dish.type" class="form-select" aria-label="Choose a type">
                        <option selected="selected" value="food">Food</option>
                        <option value="drink">Drink</option>
                      </select>
                      </div>
                    
                      <div *ngIf="errmessage" class="alert alert-danger" role="alert">
                        Adding error: {{errmessage}}
                      </div>
                    
                      <button type="button" class="btn btn-lg btn-primary btn-block" [disabled]=" !name.valid || !price.valid || !type.valid " (click)="add_dish()">Add</button>
                    </form>

            </div>

        </div>
        </div>
    </div>

    <!-- Modal Delete Dish -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p *ngIf="!table">Are you sure you want to delete {{get_curr_dish()}}?</p>
            <p *ngIf="table">Are you sure you want to make the order?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" *ngIf="!table" data-bs-dismiss="modal" (click)="delete_dish(get_curr_dish())">Delete</button>
            <button type="button" class="btn btn-success" *ngIf="table" data-bs-dismiss="modal" (click)="new_order()">Confirm</button>
        </div>
        </form>
        </div>
    </div>
    </div>

</div>