.container {
    align-items: center;
    height: 100%;
    width: 80%;
}

.title {
    margin: 20px;
}

.add-button {
    margin: 20px;
}

.right-icon:hover {
    cursor: pointer;
}

.type-title {
    margin: 20px;
}

.form-group {
    margin: 20px 0px;
}

.ingredients-input {
    margin-top: 20px;
}

.amount-icon {
    margin-right: 10px;
}

.seats-form {
    width: 25%;
}

.input-seats {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}